/* Overrides Bootstrap */
$primary: #796d4c;
$secondary: #f7f7f7;
$danger: #8e3131;
$warning: #b18e30;
$font-family-sans-serif:
  'Inter',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  Arial,
  sans-serif;
$body-bg: #ebe8e5;
$card-bg: #efece5;
$dark: #2d332c;

/* Bring in Bootstrap */
@import 'bootstrap/scss/bootstrap';

/* extras */
body {
  background: $body-bg;
  font-family: $font-family-sans-serif;
}

.btn-primary,
.btn-warning,
.btn-danger {
  --bs-btn-color: #{$secondary};
}

.nav-link i {
  margin-right: 8px;
}

/* global helper */
.light-bg {
  background-color: #f3f1ec;
}

.lighter-bg {
  background-color: #fbfaf8;
}
.lighter-border {
  border-color: #fbfaf8 !important;
}
