/* 1) Overrides Bootstrap */
$primary: #085708;
$secondary: #333333;
$font-family-base: ("Inter", sans-serif);

/* Bring in Bootstrap */
@import "bootstrap/scss/bootstrap";

/* extras */
body { background: #fafafa; }
