.form-floating {
  min-width: 85%;
}
.search-container .search-button {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 8px;
}

.form-floating > label {
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  color: #777;
}

:root {
  --bs-body-bg: #fff;
}
