body {
  background-color: #fff; // page background
}

.login-card {
  background-color: transparent !important; // transparent card
  border: none !important;                  // remove border
  box-shadow: none !important;              // remove shadow
  max-width: 800px;
  min-height: 500px;
}

  &:hover {
    background-color: darken(#867B5E, 8%) !important;
}
