.time-tracker-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.time-tracker-button {
  position: fixed;
  right: 0;
  top: 50%;
  background: linear-gradient(
    356deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 115, 199, 1) 53%,
    rgba(33, 60, 235, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 12px 14px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.time-tracker-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05);
  cursor: pointer;
}
.clock-field {
  background-color: #edece9;
  color: #a0a0a0;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  padding: 0.75rem 0;
  letter-spacing: 2px;
  user-select: none;
}

.clockText {
  font-size: 14px;
}
.totalTime-field {
  pointer-events: none;
}
